<h1>One appointment has been removed, <%= @appointment.owner.name %></h1>
<p>
  Date: <%= @appointment.date.to_s(format = :long) %><br>
  Client: <%= @appointment.caller.name %><br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
