<td id='schedule_<%= day.wday %>_<%= hour %>' class="<%= appointments_schedule_class(owner: owner, caller: caller, date: DateTime.new(day.year, day.month, day.day, hour)) %>">
  <%= render partial: 'appointments/form', locals: { appointment: current_user.appointment_for(owner: @owner, date: DateTime.new(day.year, day.month, day.day, hour)) } %>
</td>