<% if @owner %>
  <% days = appointments_week_days(@page) %>
  <table id="table" class="schedule">
    <tr>
      <td></td>
      <% days.each do |day| %>
        <td>
          <%= l(day, format: "%^a %e %b") %>
        </td>
      <% end %>
    </tr>
    <% 0.upto(23).each do |hour| %>
      <tr>
        <td><%= format("%02d:00", hour) %></td>
        <%= render partial: 'appointments/day', collection: days, locals: { owner: @owner, caller: current_user, hour: hour } %>
      </tr>
    <% end %>
  </table>
  <% 1.upto(4).each do |page| %>
    <%= link_to page, url_for(params.permit!.merge(page: page)), remote: params[:action] != 'index', class: "#{'active' if page == @page}" %>
  <% end %>
<% end %>