  <aside id="sidebar">
    <nav>
      <ul>
        <li>
          <%= link_to 'My Schedule' %>
        </li>
        <li>
          <%= link_to 'Configuration' %>
        </li>
      </ul>
    </nav>
  </aside>    