  <aside id="sidebar">
    <nav>
      <% if current_user %>
        <ul>
          <li>
            <%= link_to 'My Schedule' %>
          </li>
          <li>
            <%= link_to 'Configuration', schedules_path %>
          </li>
          <li>
            <%= link_to 'My Appointments' %>
          </li>
          <li>
            <%= link_to 'Make an Appointment' %>
          </li>
        </ul>
      <% end %>
    </nav>
  </aside>    