  <aside id="sidebar">
    <nav>
      <% if current_user %>
        <ul>
          <% if current_user_professional? %>
            <li>
              <%= link_to 'My Schedule', user_appointments_path(current_user) %>
            </li>
            <li>
              <%= link_to 'Configuration', user_schedules_path(current_user) %>
            </li>
          <% end %>
          <li>
            <%= link_to 'My Appointments' %>
          </li>
          <li>
            <%= link_to 'New Appointment', new_user_appointment_path(user_id: current_user.id) %>
          </li>
        </ul>
      <% end %>
    </nav>
  </aside>    